/* Estilos generales para las tarjetas */
.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 100px;
}
h1{
  margin-left: 100px;
}
/* Primera fila: dos cartas a la izquierda y el carrito a la derecha */
.first-row {
  margin-bottom: 20px; /* Espacio inferior para la primera fila */
}

.first-row .col-md-6 {
  margin-bottom: 0; /* Sin margen inferior para las cartas */
}

/* Resto de las filas: tres cartas por fila */
.grid .col-12 {
  flex: 1 1 calc(33.333% - 20px); /* Tres tarjetas por fila */
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Estilo de la tarjeta */
.paquete-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

mat-card-image {
  object-fit: cover;
  height: 200px;
  width: 100%;
  padding: 5px;
}

mat-card-content {
  flex: 1;
}

/* Ajustes para pantallas más pequeñas */
@media (max-width: 768px) {
  .grid .col-12 {
    flex: 1 1 calc(50% - 20px); /* 2 tarjetas por fila */
  }

  .first-row .col-md-6 {
    flex: 1 1 100%; /* Dos cartas apiladas en pantallas pequeñas */
  }
}

@media (max-width: 480px) {
  .grid .col-12 {
    flex: 1 1 100%; /* 1 tarjeta por fila */
  }

  .first-row .col-md-4 {
    flex: 1 1 100%; /* El carrito ocupará toda la fila en pantallas pequeñas */
  }
}
